head(width,color,bgcolor,pading,fontsz,position,height)
	width : width
	height : height
	color : color
	background-color: bgcolor
	padding: pading
	font-size: fontdx
	position: position
	
headimg(width,color,img,pading,fontsz,position,height)
	width : width
	height : height
	color : color
	background-image: url(img)
	padding: pading
	font-size: fontdx
	position: position
	