//  material design colors
turq = #1abc9c
greensea = #16a085
sunfower = #f1c40f
orang = #f39c12
esmerald = #2ecc71
nephritis = #27ae60
carrot = #e67e22
pumpkin = #d35400
peterriver = #3498db
belizehole = #2980b9
alizarin = #e74c3c
pobregranate = #c0392b
amethyst = #9b59b6
wisteria = #8e44ad
clouds = #ecf0f1
silv = #bdc3c7
wetasphalt  = #34495e
midnightblu = #2c3e50
concrete = #95a5a6
asbestos = #7f8c8d
