{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    </head>
    <body>
        <div class="container center">
            <h1>
                Ingenieros
            </h1>
            <hr>
            <div class="row">
                <form role="form" method="POST">
                    {% csrf_token %}
                   
                        <div class="form-group">
                            <label for="InputName">Apellido</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="lastname" id="InputName" placeholder="Apellido" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputName">CI</label>
                            <div class="input-group">
                                <input type="number" class="form-control" min="1" max="99999999" name="cedula" id="InputName" placeholder="Cedula" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputName">CIV</label>
                            <div class="input-group">
                                <input type="number" class="form-control" min="1" max="99999999" name="civ" id="InputName" placeholder="Colegio de ingenieros de Venezuela" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputName">Telefono</label>
                            <div class="input-group">
                                <input type="tel" class="form-control"name="phone" id="InputName" placeholder="Telefono" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="InputEmailFirst" name="email" placeholder="Email" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="InputMessage">Direccion</label>
                            <div class="input-group">
                                <textarea name="direcction" id="InputMessage" class="form-control" rows="5" required></textarea>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                    </div>
                </form>
                {% if is_post %}
                    <div class="col-lg-5 col-md-push-1">
                        <div class="col-md-12">
                            <div class="alert alert-{{calse}}">
                                <strong><span class="glyphicon glyphicon-ok"></span> {{message}}</strong>
                            </div>
                            
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    </body>
</html>